<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xuan.simplelife">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application tools:ignore="MissingTvBanner">
        <activity
            android:name="com.xuan.simplelife.MainActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/MainActivityStyle"
            tools:ignore="DiscouragedApi,Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xuan.simplelife.PlayerActivity"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/PlayerActivityStyle" />

        <receiver
            android:name="com.xuan.simplelife.TVBootReceive"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ww.simplelife.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider" />
        </provider>
    </application>

</manifest>